<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/front/font-awesome.css">
	<!-- <link href="//cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet"> -->
</head>
<body>
	<i class="fa fa-gear">fa fa-gear个人设置</i> <br />
	<i class="fa fa-heart" style="color:red;">fa fa-heart实心</i><br />
	<i class="fa fa-android"> fa-android安卓</i><br />
	<i class="fa fa-angle-double-left" style="color:red;">fa-angle-double-left &lt;&lt;</i><br />
	<i class="fa fa-angle-double-right" style="color:red;">fa-angle-double-left  &gt;&gt;</i><br />
	<i class="fa fa-angle-double-down">fa-angle-double-down </i><br />
	<i class="fa fa-angle-double-up">fa-angle-double-up</i><br />
	<i class="fa fa-chevron-left">fa-chevron-left</i><br />
	<i class="fa fa-chevron-right">fa-chevron-left</i><br />
	<i class="fa fa-comment" style="color:red;">fa-comment 评论/留言</i><br />
	<i class="fa fa-comments" style="color:red;">fa-comments 对话框</i><br />
	<i class="fa fa-cog" style="color:red;">fa-cog 设置</i><br />
	<i class="fa fa-check" style="color:red;">fa-check 对</i><br />
	<i class="fa fa-close" style="color:red;">fa-close 关闭/错</i><br />
	<i class="fa fa-cloud-download">fa-cloud-download  下载</i><br />
	<i class="fa fa-caret-down">fa-caret-down</i><br />
	<i class="fa  fa-chevron-down"> fa-chevron-down</i><br />
	<i class="fa  fa-cny"> fa-cny 钱</i><br />
	<i class="fa fa-envelope" style="color:red;">fa-envelope 信封</i><br />
	<i class="fa  fa-exclamation-circle" style="color:red;"> fa-exclamation-circle 警告</i><br />
	<i class="fa fa-exclamation-triangle">fa-exclamation-trianglet 危险信号</i><br />
	<i class="fa  fa-exclamation ">fa-exclamation 感叹号</i><br />
	<i class="fa  fa-hand-o-right"> fa-hand-o-right向右指</i><br />
	<i class="fa  fa-hand-o-left"> fa-hand-o-right 向左指</i><br />
	<i class="fa  fa-home" style="color:red;">fa-home 主页</i><br />
	<i class="fa  fa-info-circle"> fa-info-circle</i><br />
	<i class="fa  fa-key">  fa-key</i><br />
	<i class="fa  fa-list">fa-list 网站导航/菜单</i><br />
	<i class="fa  fa-link" style="color:red;">fa-link  链接</i><br />
	<i class="fa  fa-repeat"> fa-repeat </i><br />
	<i class="fa  fa-rotate-left "> fa-repeat </i><br />
	<i class="fa  fa-repeat">fa-rotate-left </i><br />
	<i class="fa  fa-share-alt " style="color:red;"> fa-share-alt  分享 </i><br />
	<i class="fa  fa-shopping-cart" style="color:red;">  fa-shopping-cart 购物车 </i><br />
	<i class="fa  fa-sort-desc"> fa-sort-desc</i><br />
	<i class="fa  fa-star-o">  fa-star-o 空心五角心/收藏 </i><br />
	<i class="fa  fa-star" style="color:red;"> fa-star 实心五角心/收藏</i><br />
	<i class="fa  fa-table"> fa-table表格</i><br />
	<i class="fa  fa-trash" style="color:red;"> fa-trash 垃圾/删除</i><br />
	<i class="fa  fa-user" style="color:red;">fa-user 用户</i><br />
	<i class="fa  fa-wechat" style="color:red;">fa-wechat 聊天</i><br />
	<i class="fa  fa-search-plus">fa-search-plus 放大</i><br />
	<i class="fa  fa-search-minus">fa-search-minus  缩小</i><br />
	<i class="fa  fa-windows">fa-windows 窗口</i><br />
	<i class="fa  fa-edit" style="color:red;">fa-edit 编辑</i><br />
	<i class="fa  fa-plus" style="color:red;">fa-plus 添加</i><br />
	<i class="fa  fa-random" style="color:red;">fa-random随机</i><br />
   <i class="fa  fa-recycle" style="color:red;">fa-recycle 回收</i><br />
   <i class="fa  fa-question-circle" style="color:red;">fa-question-circle  帮助</i><br />
   <i class="fa  fa-reorder" style="color:red;">fa-reorder 记录</i><br />
   <i class="fa  fa-phone" style="color:red;">fa-phone  电话</i><br />
   <i class="fa  fa-reply" style="color:red;">fa-reply  返回</i><br />
   <i class="fa  fa-refresh" style="color:red;">fa-refresh 刷新</i><br />
   <i class="fa  fa-search" style="color:red;"> fa-search 查找</i><br />
   <i class="fa  fa-sign-in" style="color:red;">fa-sign-in 登陆</i><br />
   <i class="fa  fa-sign-out" style="color:red;"> fa-sign-out 退出</i><br />
   <i class="fa  fa-thumbs-down" >fa-thumbs-down 不喜欢</i><br />
   <i class="fa  fa-thumbs-up" > fa-thumbs-up 喜欢</i><br />
   <i class="fa  fa-puzzle-piece" style="color:red;" >fa-puzzle-piec 资料库</i><br />
   <i class="fa  fa-sign-out" style="color:red;"> fa-sign-out 退出</i><br />
   <i class="fa  fa-folder" > fa-folder 选项卡</i><br />
   <i class="fa  fa-photo" > fa-photo 图片效果</i><br />
   <i class="fa  fa-calendar" >fa-calendar 时间和日期选择器</i><br />
   <i class="fa  fa-wrench" > fa-wrench 工具类</i><br />
   <i class="fa  fa-folder" > fa-folder 选项卡</i><br />

</body>
</html>