<div id="footer_img" >
	<img src="/zwj/view/images/front/bottom.jpg" alt="图片不存在">
	<span>133-5837-8959</span></div>
<div id="footer">
	<ul class="footer_nav">
		<li ><a href="#" class="first">新手上路</a></li>
		<li><a href="#">售后流程</a></li>
		<li><a href="#">购物流程</a></li>
		<li><a href="#">订购方式</a></li>
	</ul>
	<ul class="footer_nav">
		<li ><a href="#" class="first">手机常识</a></li>
		<li><a href="#">如何分辨原装电池</a></li>
		<li><a href="#">如何分辨水货手机</a></li>
		<li><a href="#">如何享受全国联保</a></li>
	</ul>
	<ul class="footer_nav">
		<li ><a href="#" class="first">配送与支付</a></li>
		<li><a href="#">货到付款区域</a></li>
		<li><a href="#">配送支付智能查询</a></li>
		<li><a href="#">支付方式说明</a></li>
	</ul>
	<ul class="footer_nav">
		<li ><a href="#" class="first">会员中心</a></li>
		<li><a href="#">资金管理</a></li>
		<li><a href="#">我的收藏</a></li>
		<li><a href="#">我的订单</a></li>
	</ul>
	<ul class="footer_nav_wx">
		<li>关注微信</li>
		<li><img src="/zwj/view/images/front/weixin.png" alt="图片不存在"></li>
	</ul>
</div>
