<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品</title>
    <script src="/zwj/view/js/front/jquery-3.1.0.js"></script>
    <!--<script src="http://cdn.bootcss.com/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="http://cdn.bootcss.com/gsap/1.19.0/plugins/ScrollToPlugin.min.js"></script> -->
    <script src="/zwj/view/js/front/ScrollToPlugin.min.js"></script>
    <script src="/zwj/view/js/front/TweenMax.min.js"></script>
    <script src="/zwj/view/js/front/index.js"></script>
    <script src="/zwj/view/js/front/header.js"></script>
    <link rel="stylesheet" href="/zwj/view/css/front/reset.css">
    <link rel="stylesheet" href="/zwj/view/css/front/font-awesome.css">
    <!-- <link href="//cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/zwj/view/css/front/index.css">
    <link rel="stylesheet" href="/zwj/view/css/front/header.css">
    <link rel="stylesheet" href="/zwj/view/css/front/footer.css">
</head>
<body>
{include file=$header}
{nocache}
<div class="goods_all">
    <ul>
        {foreach $goods as $g}
        <li><a href="/zwj/controller/front/goods.php?goods_id={$g.goods_id}">
            <img src="/zwj/{$g.thumb_img}" alt="图片不存在" class="thumb_img">
        </a>
            <div class="shop_price">
                <img src="/zwj/view/images/front/钱.png" alt="图片不存在">
                <span>{$g.shop_price}</span>
                {if $goods_status=="is_new"}
                <img src="/zwj/view/images/front/new.png" alt="图片不存在" style="float:right;margin-top:2px;">
                {else if $goods_status=="is_best"}
                <img src="/zwj/view/images/front/best.png" alt="图片不存在" style="float:right;margin-top:2px;">
                {else if $goods_status=="is_hot"}
                <img src="/zwj/view/images/front/hot.png" alt="图片不存在" style="float:right;margin-top:2px;">
                {/if}
            </div>
            <div class="goods_name">
                <a href="#">
                    {$g.goods_name}
                </a>
            </div>
        </li>
        {/foreach}
    </ul>
</div>
{/nocache}
{include file=$footer}

</body>
</html>