<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>关于我们</title>
<link rel="stylesheet" href="../../view/css/admin/lanmu.css">
<link rel="stylesheet" href="/zwj/view/css/admin/general.css">
<link rel="stylesheet" href="/zwj/view/css/admin/main.css">
<script src="../../view/js/admin/jquery-3.1.0.js"></script>
<style>
  ul>li{
    list-style: none;
  }
  .test{
    height:30px;
    line-height: 30px;
    background: rgb(187,221,229);
    font-size: 15px;
    color:rgb(25,46,50);
  }
  .test1{
     height:30px;
    line-height: 30px;
    font-size: 15px;
    color:rgb(25,46,50);
    font-weight: bold;
  }
</style>
</head>
<body >
  <h1>
    <span class="action-span1"><a href="/zwj/view/html/admin/admin_index.html">BOOLSHOP
        管理中心</a> </span><span id="search_id" class="action-span1"> - 关于我们 </span>
    <div style="clear: both"></div>
  </h1>
  <ul>
    <li class="test">boolshop团队成员</li>
    <li class="test1">项目策划：张伟江</li>
    <li class="test1">程序开发：张伟江</li>
    <li class="test1">界面设计：张伟江</li>
    <li class="test">官方网站</li>
    <li class="test1">网站地址:www.boolshop.com</li>
    <li class="test1">支持论坛:</li>
  </ul>
</body>
</html>