<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BOOLSHOP 管理中心 - 编辑属性 </title>
    <script src="../../view/js/admin/jquery-3.1.0.js"></script>
    <link rel="stylesheet" href="../../view/css/admin/general.css">
    <link rel="stylesheet" href="../../view/css/admin/main.css">
     <script>
    {literal}
      $(function(){
         if($('input:radio:checked').val()==1){
                $('.attr_values').prop('disabled',false);
               // $('.attr_values').removeAttr('disabled');
                
              }else{
                 $('.attr_values').val("");
                $('.attr_values').prop('disabled',true);
               // $('.attr_values').attr('disabled','disabled');            
              }
          $(':radio').click(function(){
              if($(this).val()==1){
                $('.attr_values').prop('disabled',false);
               // $('.attr_values').removeAttr('disabled');
                
              }else{
                 $('.attr_values').val("");
                $('.attr_values').prop('disabled',true);
               // $('.attr_values').attr('disabled','disabled');            
              }
          });

          $('#form').submit(function(e){
                  var reg=/^.+$/;
                var attr_name=$.trim($('#attr_name').val());
                if(!reg.test(attr_name)){
                  e.preventDefault();
                  alert('-请输入属性名称。');
                }else{
                  $.ajax({
                    url:'attributeaddreg.php',
                    type:'POST',
                    dataType:'text',
                    async:false,
                    crossDomain: true == !(document.all),
                    data:{"attr_name":attr_name,
                          "goods_type_id":$('#goods_type_id').val(),
                          "ori_attr_name":$('#ori_attr_name').val()
                     },
                    success:function(data){
                      if(data=="true"){
                        e.preventDefault();
                        alert('该属性名称已存在，请您换一个名称。');
                        }else if($('.attr_input_type:checked').val()==1){
                          var attr_values=$.trim($('.attr_values').val());
                            if( attr_values==""){
                              e.preventDefault();
                              alert('请输入该属性的可选值');
                            }
                        }
                    }
                  });
                }
              });
      });
    {/literal}
    </script>
</head>
<body>
<h1>
<span class="action-span"><a href="attributelist.php?goods_type_id={$attr.goods_type_id}">商品属性</a></span>
<span class="action-span1"><a href="#">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 编辑属性 </span>
<div style="clear:both"></div>
</h1>

<div class="main-div">
  <form action="attributeeditAct.php" method="post" name="theForm" enctype="multipart/form-data" id="form">
  <table width="100%" id="general-table">
      <tr>
        <td class="label">属性名称:</td>
        <td>
          <input type='text' name='attr_name' maxlength="20" value='{$attr.attr_name}' size='27' id="attr_name"/> <font color="red">*</font>
        </td>
      </tr>
      <tr>
        <td class="label">所属商品类型:</td>
        <td>
          <select name="goods_type_id" id="goods_type_id">
              <option value="0">请选择...</option>
             {foreach $goodstype as $gp}
             {if $gp.goods_type_id==$attr.goods_type_id}
             <option value="{$gp.goods_type_id}" selected="selected">
              {$gp.goods_type_name}</option>
              {else}
              <option value="{$gp.goods_type_id}" >
              {$gp.goods_type_name}</option>
              {/if}
             {/foreach}
          </select>
        </td>
      </tr>
      <tr>
        <td class="label">该属性值得录入方式:</td>
         {if $attr.attr_input_type==0}
        <td>
            <input type='radio' name='attr_input_type' value="0" 
            checked="checked" class="attr_input_type"/>
            <span>手工录入</span>
            <input type='radio' name='attr_input_type' value="1" class="attr_input_type"/>
            <span>从下面的列表中选择（一行代表一个可选值）</span>
            <input type='radio' name='attr_input_type' value="2" class="attr_input_type"/>
            <span>多行文本框</span>
        </td>
        {else if $attr.attr_input_type==1}
        <td>
            <input type='radio' name='attr_input_type' value="0" />
            <span>手工录入</span>
            <input type='radio' name='attr_input_type' value="1" checked="checked"/>
            <span>从下面的列表中选择（一行代表一个可选值）</span>
            <input type='radio' name='attr_input_type' value="2"/>
            <span>多行文本框</span>
        </td>
        {else}
        <td>
            <input type='radio' name='attr_input_type' value="0" />
            <span>手工录入</span>
            <input type='radio' name='attr_input_type' value="1" />
            <span>从下面的列表中选择（一行代表一个可选值）</span>
            <input type='radio' name='attr_input_type' value="2" checked="checked"/>
            <span>多行文本框</span>
        </td>
        {/if}
      </tr>
      <tr>
        <td class="label">可选值列表:</td>
        <td>
          <textarea class="attr_values" name='attr_values' rows="6" cols="48" disabled="disabled" >{$attr.attr_values}</textarea>
        </td>
      </tr>
      {if $attr.show_in_front==1}
      <tr>
        <td class="label" >必填属性：</td>
            <td ><input type="checkbox"
              name="show_in_front" value="1" checked="checked"/>
              打勾表示为必填属性，如尺码必须填写相应的值，否则为普通属性。</td>
      </tr>
      {else}
      <tr>
        <td class="label" >必填属性：</td>
            <td ><input type="checkbox"
              name="show_in_front" value="1" />
              打勾表示为必填属性，如尺码必须填写相应的值，否则为普通属性。</td>
      </tr>
      {/if}
      </table>
      <div class="button-div">
        <input type="hidden" name="attr_id" value="{$attr.attr_id}">
         <input type='hidden'  value='{$attr.attr_name}' size='27' id="ori_attr_name"/> 
        <input type="submit" value=" 确定 " />
        <input type="reset" value=" 重置 " />
      </div>
  </form>
</div>

<div id="footer">
共执行 3 个查询，用时 0.021687 秒，Gzip 已禁用，内存占用 2.081 MB<br />
版权所有 &copy; 2005-2010 上海商派网络科技有限公司，并保留所有权利。</div>

</body>
</html>