<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title>BOOLSHOP 管理中心 - 商品属性 </title>
<link rel="stylesheet" href="../../view/css/admin/general.css">
<link rel="stylesheet" href="../../view/css/admin/main.css">
<script src="../../view/js/admin/jquery-3.1.0.js"></script>
<script type="text/javascript">
{literal}
  $(function(){
    $('.number').change(function(){
      var num=0;
        if(isNaN($(this).val())){
            alert('请输入正确的商品数量');
            $(this).val("0");
            $('.number').each(function(){
            if($.trim($(this).val())==""){
              num+=0;
            }else{
              num+=parseInt($(this).val());
            }
          });
        }else{
          $('.number').each(function(){
            if($.trim($(this).val())==""){
              num+=0;
            }else{
              num+=parseInt($(this).val());
            }
          });
           
          }
          $("#goods_number").val(num);
      });
  });
  {/literal}
</script>
</head>
<body>
<h1>
<span class="action-span1"><a href="#">BOOLSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品数量 </span>
<div style="clear:both"></div>
</h1>
{if $act=="add"}
<div class="form-div">
  <form action="/zwj/controller/admin/goodsnumber.php" name="searchForm" method="get">
    <input type="hidden" value="add" name="act">
    <img src="../../view/images/admin/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    <span>按商品编号显示：</span>     
    <select name="goods_id">
    <option value="0">请选择...</option>
      {foreach $goodsallid as $v}
      {if $goods_id==$v['goods_id']}
      <option value="{$v.goods_id}" selected="selected">{$v.goods_id}</option>
      {else}
      <option value="{$v.goods_id}">{$v.goods_id}</option>
      {/if}
      {/foreach}
    </select>
    <input type="submit" value=" 搜索 " class="button" />
  </form>
</div>
<form action="/zwj/controller/admin/goodsnumberact.php?act=add" method="post">
  {foreach $goodsnumber as $gn}
  <p style="border:1px solid transparent;heigth:40px;line-height:40px;">
    {if $gn.attr_name}
    <input type="text" value="{$gn.attr_name}" style="float:left;margin-top:10px;margin-right:11px;" readonly name="attr_name[]">
    {/if}
    {if $gn[0]}
    <input type="text" value="{$gn[0]}" style="float:left;margin-top:10px;margin-right:11px;" name="attr_value[]" readonly>
    {/if}
    {if $gn.goods_color_desc}
    <input type="text" value="{$gn.goods_color_desc}" style="float:left;margin-top:10px;margin-right:11px;" name="goods_color_desc[]" readonly>
    {/if}
    {if $gn.goods_color_img}
    <img src="/zwj/{$gn.goods_color_img}" alt="{$gn.goods_color_desc}" style="width:40px;height:40px;float:left;margin-right:11px;">
    <input type="hidden" name="goods_color_img[]" value="{$gn.goods_color_img}">
    {/if}
    商品数量:<input type="text" name="number[]" style="margin-left:11px;" class="number" value="0"><br>
  </p>
  {/foreach}
  {if $gn.attr_name||$gn.goods_color_desc}
  <p>商品总数量：<input type="text" name="goods_number" id="goods_number" readonly value="0"><br></p>
  <input type="hidden" value="{$goods_id}" name="goods_id">

  <tr >
    <td class="label" >上架：</td>
    <td ><input type="checkbox"
                                 name="is_on_sale" value="1"  checked="checked"/>
      打勾表示允许销售，否则不允许销售。</td>
  </tr>
  <br><br>

  <input type="submit" value="提交">
  {else}
  <p>该商品没有上传商品图片和必填属性</p>
  {/if}
  
</form>
{else}
  <div class="form-div">
    <form action="/zwj/controller/admin/goodsnumber.php" name="searchForm" method="get">
      <img src="../../view/images/admin/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
      <span>按商品编号显示：</span>     
      <select name="goods_id">
      <option value="0">请选择...</option>
        {foreach $goodsallid as $v}
        {if $goods_id==$v['goods_id']}
        <option value="{$v.goods_id}" selected="selected">{$v.goods_id}</option>
        {else}
        <option value="{$v.goods_id}">{$v.goods_id}</option>
        {/if}
        {/foreach}
      </select>
      <input type="submit" value=" 搜索 " class="button" />
    </form>
  </div>
  <form action="/zwj/controller/admin/goodsnumberact.php" method="post">
    {if $goodsnumber1}
        {foreach $goodsnumber1 as $gn}
        <p style="border:1px solid transparent;heigth:40px;line-height:40px;">
          {if $gn.attr_name}
          <input type="text" value="{$gn.attr_name}" style="float:left;margin-top:10px;margin-right:11px;" readonly name="attr_name[]">
          {/if}
          {if $gn.attr_value}
          <input type="text" value="{$gn.attr_value}" style="float:left;margin-top:10px;margin-right:11px;" name="attr_value[]" readonly>
          {/if}
          {if $gn.goods_color_desc}
          <input type="text" value="{$gn.goods_color_desc}" style="float:left;margin-top:10px;margin-right:11px;" name="goods_color_desc[]" readonly>
          {/if}
          {if $gn.goods_color_img}
          <img src="/zwj/{$gn.goods_color_img}" alt="{$gn.goods_color_desc}" style="width:40px;height:40px;float:left;margin-right:11px;">
          <input type="hidden" name="goods_color_img[]" value="{$gn.goods_color_img}">
          {/if}
          商品数量:<input type="text" name="number[]" style="margin-left:11px;" class="number" value="{$gn.number}"><br>
          <input type="hidden" value="{$gn.goods_number_id}" name="goods_number_id[]">
        </p>
        {/foreach}
        {if $gn.attr_name||$gn.goods_color_desc}
        <p>商品总数量：<input type="text" name="goods_number" id="goods_number" readonly value="{$number}"><br></p>
        <input type="hidden" value="{$goods_id}" name="goods_id">

    <tr >
      <td class="label" >上架：</td>
      <td ><input type="checkbox"
                                   name="is_on_sale" value="1"  checked="checked"/>
        打勾表示允许销售，否则不允许销售。</td>
    </tr>
    <br><br>

        <input type="submit" value="提交">
        {else}
        <p>该商品没有上传商品图片和必填属性</p>
        {/if} 
      {else}
        {foreach $goodsnumber as $gn}
        <p style="border:1px solid transparent;heigth:40px;line-height:40px;">
          {if $gn.attr_name}
          <input type="text" value="{$gn.attr_name}" style="float:left;margin-top:10px;margin-right:11px;" readonly name="attr_name[]">
          {/if}
          {if $gn[0]}
          <input type="text" value="{$gn[0]}" style="float:left;margin-top:10px;margin-right:11px;" name="attr_value[]" readonly>
          {/if}
          {if $gn.goods_color_desc}
          <input type="text" value="{$gn.goods_color_desc}" style="float:left;margin-top:10px;margin-right:11px;" name="goods_color_desc[]" readonly>
          {/if}
          {if $gn.goods_color_img}
          <img src="/zwj/{$gn.goods_color_img}" alt="{$gn.goods_color_desc}" style="width:40px;height:40px;float:left;margin-right:11px;">
          <input type="hidden" name="goods_color_img[]" value="{$gn.goods_color_img}">
          {/if}
          {if $gn.number}
          商品数量:<input type="text" name="number[]" style="margin-left:11px;" class="number" value="{$gn.number}" ><br>
          {else}
          商品数量:<input type="text" name="number[]" style="margin-left:11px;" class="number" value="0" ><br>
          {/if}
        </p>
        {/foreach}
        {if $gn.attr_name||$gn.goods_color_desc}
        <p>商品总数量：<input type="text" name="goods_number" id="goods_number" readonly value="0"><br></p>
        <input type="hidden" value="{$goods_id}" name="goods_id">
        <input type="hidden" value="add" name='act'>

    <tr id="alone_sale_1">
      <td class="label" id="alone_sale_2">上架：</td>
      <td id="alone_sale_3"><input type="checkbox"
                                   name="is_on_sale" value="1" id="is_on_sale" checked="checked"/>
        打勾表示允许销售，否则不允许销售。</td>
    </tr>
    <br><br>

        <input type="submit" value="提交">
        {else}
        <p>该商品没有上传商品图片和必填属性</p>
        {/if} 
    {/if}

  </form>
{/if}
<div id="footer">
共执行 7 个查询，用时 0.112141 秒，Gzip 已禁用，内存占用 3.085 MB<br />
版权所有 &copy; 2005-2010 上海商派网络科技有限公司，并保留所有权利。</div>

</body>
</html>