<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title>BOOLSHOP 管理中心 - 商品回收站 </title>
<link rel="stylesheet" href="../../view/css/admin/general.css">
<link rel="stylesheet" href="../../view/css/admin/main.css">
<script src="../../view/js/admin/jquery-3.1.0.js"></script>
</head>
<body>
<h1>
<span class="action-span"><a href="goodslist.php">商品列表</a></span>
<span class="action-span1"><a href="#">BOOLSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品回收站 </span>
<div style="clear:both"></div>
</h1>
<div class="form-div">

  <form action="/zwj/controller/admin/keywordsSearch.php" name="searchForm" method="post">
    <img src="../../view/images/admin/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
      
    关键字 <input type="text" name="keywords" size="15" />
    <input type="submit" value=" 搜索 " class="button" />
  </form>
</div>
<form method="post" action="" name="listForm" >

  <div class="list-div" id="listDiv">
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox" />
      <a href="#">编号</a><img src="../../view/images/admin/sort_desc.gif"/>    </th>
    <th><a href="#">商品名称</a></th>
    <th><a href="#">货号</a></th>
    <th><a href="#">价格</a></th>
        <th>操作</th>
  <tr>
    {foreach $goodslist as $g}
      <tr>
    <td><input type="checkbox" name="checkboxes[]" value="32" />1</td>

    <td class="first-cell" style=""><span >{$g.goods_name}</span></td>
    <td><span >{$g.goods_sn}</span></td>
    <td align="right"><span >{$g.shop_price}</span></td>
        <td align="center">
      <a class="operate return" href="goodsreturn.php?goods_id={$g.goods_id}" title="还原" >
        还原
      </a>
     
      <a class="operate delete" href="goodsdelete.php?goods_id={$g.goods_id}"  title="删除">
        删除
      </a>
   </td>
  </tr>
   {/foreach}
      </table>

<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
      
        
          上页&nbsp;&nbsp;1</b>&lt;&lt; [1]&nbsp;&nbsp;<a href=admin.php?c=goods&a=goodsList&page=2& title='第2页'>[2]</a>&nbsp;&nbsp;<a href=admin.php?c=goods&a=goodsList&page=3& title='第3页'>[3]</a>&nbsp;&nbsp;<a href=admin.php?c=goods&a=goodsList&page=4& title='第4页'>[4]</a>&nbsp;&nbsp;<a href=admin.php?c=goods&a=goodsList&page=5& title='第5页'>[5]</a>&nbsp;&nbsp;<a href=admin.php?c=goods&a=goodsList&page=8& title='第8页'>&gt;&gt;8</a>&nbsp;<a href=admin.php?c=goods&a=goodsList&page=2&  title='下一页'>[下一页]</a>
    
    </td>
  </tr>

</table>

</div>
</form>

<div id="footer">
共执行 7 个查询，用时 0.112141 秒，Gzip 已禁用，内存占用 3.085 MB<br />
版权所有 &copy; 2005-2010 上海商派网络科技有限公司，并保留所有权利。</div>
<script>
  {literal}
    $('.delete').click(function(e){
      if(confirm('您确实要删除该商品吗?')){

      }else{
        e.preventDefault();
      }
    });
    
     $('.return').click(function(e){
      if(confirm('您确实要把该商品还原吗?')){

      }else{
        e.preventDefault();
      }
    });
  {/literal}
</script>
</body>
</html>