<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BOOLSHOP 管理中心 - 编辑商品类型 </title>
    <link rel="stylesheet" href="../../view/css/admin/general.css">
    <link rel="stylesheet" href="../../view/css/admin/main.css">
     <script src="../../view/js/admin/jquery-3.1.0.js"></script>
    <script type="text/javascript">
        {literal}
          $(function(){
              $('#form').submit(function(e){
                  var reg=/^.+$/;
                var goods_type_name=$.trim($('#goods_type_name').val());
                if(!reg.test(goods_type_name)){
                  e.preventDefault();
                  alert('-商品名称不能为空');
                }else{
                  $.ajax({
                    url:'goodstypeaddreg.php',
                    type:'POST',
                    dataType:'text',
                    async:false,
                    crossDomain: true == !(document.all),
                    data:{"goods_type_name":goods_type_name,
                           "ori_goods_type_name":$('#ori_goods_type_name').val()
                          },
                    success:function(data){
                      if(data=="true"){
                        e.preventDefault();
                        alert('商品类型名称已存在！');
                        }
                    }
                  });
                }
              });
          });
        {/literal}
    </script>
</head>
<body>

<h1>
<span class="action-span"><a href="goodstypelist.php">商品类型列表</a></span>
<span class="action-span1"><a href="#">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 编辑商品类型 </span>
<div style="clear:both"></div>
</h1>

<div class="main-div">
  <form action="goodstypeeditAct.php" method="post" name="theForm" enctype="multipart/form-data" id="form">
  <table width="100%" id="general-table">
      <tr>
        <td class="label">商品类型名称:</td>
        <td>
          <input type='text' name='goods_type_name' maxlength="20" value='{$goodstype.goods_type_name}' size='27' id="goods_type_name"/> <font color="red">*</font>
        </td>
      </tr>
      <tr>
        <td class="label">属性分组:</td>
        <td>
          <input type='text' name='attr_group' maxlength="20" value='{$goodstype.attr_group}' size='27' /> 
        </td>
      </tr>
      <tr>
        <td class="label">属性是否显示:</td>
        {if $goodstype.enabled==1}
        <td>
            <input type='radio' name='enabled' value="1" checked="checked"/><span>是</span>
            <input type='radio' name='enabled' value="0"/><span>否</span>
        </td>
        {else}
        <td>
            <input type='radio' name='enabled' value="1" /><span>是</span>
            <input type='radio' name='enabled' value="0" checked="checked"/><span>否</span>
        </td>
        {/if}
      </tr>
      <tr>
        <td class="label">商品属性描述:</td>
        <td>
          <textarea name='goods_type_desc' rows="6" cols="48">{$goodstype.goods_type_desc}</textarea>
        </td>
      </tr>
      </table>
      <div class="button-div">
        <input type="hidden" name="goods_type_id" value="{$goodstype.goods_type_id}">
        <input type='hidden' name='ori_goods_type_name' value='{$goodstype.goods_type_name}'  id="ori_goods_type_name"/>
        <input type="submit" value=" 确定 " />
        <input type="reset" value=" 重置 " />
      </div>
  </form>
</div>

<div id="footer">
共执行 3 个查询，用时 0.021687 秒，Gzip 已禁用，内存占用 2.081 MB<br />
版权所有 &copy; 2005-2010 上海商派网络科技有限公司，并保留所有权利。</div>

</body>
</html>